{% extends "format.html" %}
{% block titulo %}ARMMA{% endblock %}

{% block contenido %}
<div id="map"></div>
<div id='menu'>
<div class='container-fluid'>
</br>
  <div class='row'>
    <div class='col-md-4'>
      Grupo Edades:
      <select id="edades" class="selectpicker" data-style='btn-warning' data-size="6" data-width="auto"> <!-- Dropdown -->
        <option value="0">Todas las Edades</option>
        <option value="1">1-4</option>
        <option value="2">5-14</option>
        <option value="3">15-24</option>
        <option value="4">25-34</option>
        <option value="5">35-44</option>
        <option value="6">45-54</option>
        <option value="7">55-64</option>
        <option value="8">65+</option>
      </select>
    </div>
  </div>
</br>
  <div class='row'>
    <div class='col-md-4'>
      Año de Ocurrencia:
      <select id="year" class="selectpicker" data-live-search="true" data-style='btn-danger' data-size="6" data-width="auto"> <!-- Dropdown -->
        {% for year in years%}
        <option value="{{year}}">{{year}}</option>
        {%endfor%}
      </select>
    </div>
  </div>
</br>
  <div class='row'>
    <div class='col-md-4'>
      Genero:
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="sex" value='0' autocomplete="off" checked> Indistinto
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="sex" value='1' autocomplete="off"> Masculino
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="sex" value='2' autocomplete="off"> Femenino
        </label>
      </div>
    </div>
  </div>
</br>
  <div class='row'>
    <div class='col-md-4'>
      Causa:
      <select id="cause" class="selectpicker" data-style='btn-danger' data-size="6" data-height="2"> <!-- Dropdown -->
        <option value="0">Todas las causas</option>
        {% for c in causas%}
        <option value="{{c.id}}">{{c.CauseDescription}}</option>
        {%endfor%}
      </select>
    </div>
  </div>
</br>
  <div class='row'>
    <div class='col-md-4'>
      <button id="input" class="btn btn-success">Mostrar</button>
    </div>
  </div>
</div>
</div> <!-- menu -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoAyuda">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="tituloAyuda">Manual de Usuario</h4>
      </div>
      <div class="modal-body">
        Aca va la informacion al usuario
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- Modal -->
{% endblock contenido %}
