{% extends "format.html" %}
{% block titulo %}ARMMA{% endblock %}

{% block contenido %}
<div id="map"></div>
<div id='menu'>
<div class='container-fluid'>
</br>
  <div class='row'>
    <div class='col-md-4'>
      Grupo Edades:
      <select id="edades" class="selectpicker" data-style='btn-warning' data-size="6" data-width="auto"> <!-- Dropdown -->
        <option value="0">Todas las Edades</option>
        <option value="1">1-4</option>
        <option value="2">5-14</option>
        <option value="3">15-24</option>
        <option value="4">25-34</option>
        <option value="5">35-44</option>
        <option value="6">45-54</option>
        <option value="7">55-64</option>
        <option value="8">65+</option>
      </select>
    </div>
  </div>
</br>
  <div class='row'>
    <div class='col-md-4'>
      Año de Ocurrencia:
      <select id="year" class="selectpicker" data-live-search="true" data-style='btn-danger' data-size="6" data-width="auto"> <!-- Dropdown -->
        {% for year in years%}
        <option value="{{year}}">{{year}}</option>
        {%endfor%}
      </select>
    </div>
  </div>
</br>
  <div class='row'>
    <div class='col-md-6'>
      Genero:
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="sex" value='0' autocomplete="off" checked> Indistinto
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="sex" value='1' autocomplete="off"> Masculino
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="sex" value='2' autocomplete="off"> Femenino
        </label>
      </div>
    </div>
  </div>
</br>
  <div class='row'>
    <div class='col-md-4'>
      Causa: <br>
      <select id="cause" class="selectpicker" data-style='btn-danger' data-size="6" data-height="2" data-width="500px"> <!-- Dropdown -->
        <option value="0">Todas las causas</option>
        {% for c in causas%}
        <option value="{{c.id}}">{{c.CauseDescription}}</option>
        {%endfor%}
      </select>
    </div>
  </div>
</br>
  <div class='row'>
    <div class='col-md-6'>
      <button id="input" class="btn btn-success">Mostrar <span class='glyphicon glyphicon-globe'></button>
    </div>
    <div class='col-md-4'>
      <button id="export" class="btn btn-success">Exportar <span class='glyphicon glyphicon-export'></button>
    </div>
  </div>
</div>
</div> <!-- menu -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoAyuda">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="tituloAyuda">Manual de Usuario</h4>
      </div>
      <div class="modal-body">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Introduccion
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body" style="color:black">
    	ARMMA es una aplicacion web de acceso publico en donde usted podra consultar la tasa de mortalidad segun distintos criterios demograficos, plasmados en un mapa visualmente comodo y simple de entender.
    ARMMA esta orientado a representar y referenciar la mortalidad a lo largo del mundo, en los distintos paises donde esten disponibles los datos brindados por la Organizacion Mundial de la Salud.
    Con ARMMA, usted podra contar con una herramienta simple de consulta para su necesidad, ya sea de indole laboral, universitaria o cual sea su interes. Si, pensamos en sus necesidades. Delo por hecho.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Su primer ingreso en ARMMA
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body" style="color:black">
    	En un principio, al ingresar a la direccion web de ARMMA usted contara con una primer pantalla minimalista donde solo visualizara el mapa en su tono oscuro caracteristico junto con distintas opciones interactivas que lo asistiran durante su uso.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Funcionalidades dentro de ARMMA
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body" style="color:black">
    	ARMMA brinda distintas opciones y referencias visuales a lo largo de la pantalla para poder brindar una adecuada operatoria e interpretacion:<br>
    <br>
    Boton Zoom:
    Hay dos formas de realizar una ampliacion al area deseada: un doble clic en dicha area o utilizar el boton " + " del boton zoom. Para el alejamiento solo necesita apretar el boton " - ", volviendo al tamanio por defecto. Lo puede ver en la esquina superior izquierda.
    <br>
    Boton de consulta:
    Lo puede visualizar en color verde, entre los botones zoom y este boton sera su opcion para desplegar los filtros para interactuar con la aplicacion. No se desespere. Ya vamos a llegar a eso( puede consultarlo en "Modo de realizar una consulta").
    <br>
    Boton de Impresion:
    El boton de color naranja le permitira abrir las opciones de impresion segun lo que usted visualisa en visualisando en el momento que clickea.
    <br>
    Boton de Ayuda:
    Aunque suene que se cae de maduro, debajo del boton de imprimir se encuentra una pequenia referencia de la aplicacion, de su visualizacion y funciones.
    <br>
    Cuadro de informacion:
    Al pasar el mouse sobre un pais, en el margen superior derecho vera un cuadro que le brinda la Tasa de Mortalidad Particular (% de mortalidad cada mil personas de la muestra en cuestion),  junto con nombre y bandera de referencia.
    <br>
    Leyenda de colores:
    En el margen inferior derecho, un cuadro de colores con su rango de valor predeterminado nos indicara que significa la tonalidad con la que se pinta cada pais. Al momento de la consulta, si la informacion disponible resulta en que no hay datos, se reflejara con un color gris caracteristico.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Modo de de realizar una consulta
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body" style="color:black">
    	Antes que nada, debera hacer clic en el boton de consulta para desplegar el menu de filtros.
    Una vez desplegado, debera elegir las opciones a consultar a gusto. Podra elegir rangos de edades, anio, genero y causa de mortalidad. Por defecto, en caso de no querer elegir una opcion en especial, podra elegir todas las edades, genero indistinto, todas las causas. Solo sera obligatorio que elija un anio en particular.
    Finalmente, cuando tenga decidido los filtros elegidos, solo falta hacer clic en el boton "mostrar". Y.... LISTO. Asi de simple.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Modo de de realizar una exportacion a XML
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body" style="color:black">
    	Muy similarmente a la consulta, la exportacion tambien requiere que despliegue el menu de filtros.
      Una vez desplegado, y con las opciones seleccionadas, haciendo un clic en el boton "exportar" brindara la ventana para guardar el archivo xml.
      <br>Tip: Se recomienda que primero se haga una consulta y se visualice en el mapa (usando la opcion mostrar), y una vez satisfecho con la informacion brindada, exportarlos,
      ya que ARMMA mantiene los filtros seleccionados en la ultima consulta.
          </div>
        </div>
      </div>
      </div>
        <h6>Iconos de las banderas creado por <a href="http://www.icondrawer.com" target="_blank">IconDrawer</a></h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- Modal -->
<div class="modal" id="loadingModal"><!-- Solo para el loading --></div>
{% endblock contenido %}
