<html>
  <head>
    {% load staticfiles %}
    <link type="text/css" href= "{% static "mapa/css/bootstrap.min.css" %}" rel="stylesheet"></link>
    <link type="text/css" href= "{% static "mapa/css/bootstrap-theme.min.css" %}" rel="stylesheet"></link>
    <link type="text/css" href= "{% static "mapa/css/leaflet.css" %}" rel="stylesheet"></link>
    <link type="text/css" href= "{% static "mapa/css/mapa.css" %}" rel="stylesheet"></link>

    <title>{% block titulo %}ARMMA{% endblock %}</title>

    <script src= "{% static "mapa/js/bootstrap.min.js" %}"></script>
    <script src= "{% static "mapa/js/jquery-2.1.4.min.js" %}"></script>
    <script src= "{% static "mapa/js/leaflet.js" %}"></script>
    <script src= "{% static "mapa/js/mapa.js" %}"></script>


  </head>
  <body>
    {% block contenido %}{% endblock contenido %}
  </body>
  <footer class="footer">
    {% block footer %}
    <div id="bottom"><p>Copyright &#169;Bascuñan Sebastián Pedro, Colombo Maximiliano, Irione Araceli, Levy Maor. 2015. Ambiente de Realización de Mapas de Mortalidad en Argentina.

Proyecto Software, Licenciatura en Sistemas. Universidad Nacional de Lanús. </p>
    {% endblock %}
  </footer>
</html>
